# Node/Next.js
node_modules/
.next/
.vercel/

# Logs & diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
out/

# Coverage
coverage/

# Editor
.vscode/

# Environment files
.env
.env.*
!.env.example
.env.local

# OS
.DS_Store

# Excel or sensitive data exports (optional uncomment)
# *.xlsx

# Service account (DO NOT COMMIT)
bosszaloshop-baa816afc4fc.json
